<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ innerProduct.name }}</mat-card-title>
    <mat-card-subtitle>{{ innerProduct.category }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="innerProduct.imgUrl" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <p>
      {{ innerProduct.description }}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-icon-button
      aria-label="Example icon-button with heart icon"
      (click)="addProductToWhislist(innerProduct)"
    >
      <mat-icon [color]="colorWishListIcon">favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
